streamlit_option_menu
pandasai
langchain_openai
langchain_groq
langchain_experimental
langchain_huggingface
langgraph
pydantic
typing_extensions
joblib
llama_parse
unstructured
unstructured[md]
fastembed
chromadb
sentence_transformers > /dev/null
onnxruntime-gpu